/******************************************************************
Site Name: UJA
Author: Sagetopia

Stylesheet: Grid Stylesheet
******************************************************************/

.container {
	max-width: $container-width;
	width: 94%;
}